linkedin_agent_workflow.n8n.json
{
  "name": "LinkedIn Posting Agent",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "events": "message"
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ telegram_api_key }}",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "Got it! I'm now working on a draft for you. I'll send it over for your review shortly.",
        "notice": "={{false}}"
      },
      "name": "Confirm Receipt",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        720,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ telegram_api_key }}",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemini-pro",
        "prompt": "Based on the following news dump, please draft a professional LinkedIn post. The post should be engaging, well-structured, and include relevant hashtags. \\n\\nNews Dump:\\n={{$json.message.text}}"
      },
      "name": "Draft Post with Gemini",
      "type": "n8n-nodes-langchain.llm",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "credentials": {
        "geminiApi": {
          "id": "{{ gemini_api_key }}",
          "name": "Gemini account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "Generate a visually appealing and professional image that represents the key theme of the following LinkedIn post:\\n\\n{{$node[\\\"Draft Post with Gemini\\\"].json.text}}"
      },
      "name": "Generate Image",
      "type": "n8n-nodes-base.imageGeneration",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "imageApi": {
          "id": "{{ image_api_key }}",
          "name": "Image Generation account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "photo": "={{$node[\\\"Generate Image\\\"].json.url}}",
        "caption": "={{$node[\\\"Draft Post with Gemini\\\"].json.text}}\\n\\nWhat do you think? Reply with 'approve' to post it, or 'reject [your feedback]' to request changes.",
        "notice": "={{false}}"
      },
      "name": "Present Draft",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1440,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ telegram_api_key }}",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.text}}",
              "operation": "startsWith",
              "value2": "reject"
            },
            {
              "value1": "={{$json.message.text}}",
              "operation": "equal",
              "value2": "approve"
            }
          ]
        }
      },
      "name": "Check Approval Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1920,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feedback",
              "value": "={{$json.message.text.substring(7)}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Feedback",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2160,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "The user rejected the previous draft. Please create a new version based on their feedback.\\n\\nFeedback: {{$node[\\\"Set Feedback\\\"].json.feedback}}\\n\\nOriginal News Dump:\\n{{$node[\\\"Telegram Trigger\\\"].json.message.text}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set New Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2400,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "Sorry, I didn't understand that. Please reply with 'approve' to publish the post, or 'reject [your feedback]' to ask for a new draft.",
        "notice": "={{false}}"
      },
      "name": "Send Invalid Command Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2160,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ telegram_api_key }}",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "post",
        "text": "={{$node[\\\"Draft Post with Gemini\\\"].json.text}}",
        "options": {
          "media": [
            {
              "url": "={{$node[\\\"Generate Image\\\"].json.url}}"
            }
          ]
        }
      },
      "name": "Publish to LinkedIn",
      "type": "n8n-nodes-base.linkedin",
      "typeVersion": 1,
      "position": [
        2160,
        300
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "{{ linkedin_api_key }}",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "Your post has been published on LinkedIn! You can view it here: {{$node[\\\"Publish to LinkedIn\\\"].json.url}}",
        "notice": "={{false}}"
      },
      "name": "Send Final Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2400,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{ telegram_api_key }}",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Confirm Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Receipt": {
      "main": [
        [
          {
            "node": "Draft Post with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Post with Gemini": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Present Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Present Draft": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Check Approval Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval Status": {
      "main": [
        [
          {
            "node": "Set Feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish to LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Invalid Command Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Feedback": {
      "main": [
        [
          {
            "node": "Set New Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set New Prompt": {
      "main": [
        [
          {
            "node": "Draft Post with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invalid Command Msg": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to LinkedIn": {
      "main": [
        [
          {
            "node": "Send Final Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
